.ant-tabs {
  .ant-tabs-tab-active {
    .titleCinema {
      color: #fb923c;
    }
  }
}
.ant-modal-content {
  padding: 10px !important;
  @media screen and (min-width: 1024px) {
    padding: 24px !important;
  }
}
nav {
  ul {
    .active {
      color: #fb923c;
    }
  }
  .menu {
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease;

    @media screen and (min-width: 1024px) {
      transform: scaleY(1);
    }
    &.isShow {
      transform: scaleY(1);
    }
  }
}

// SideBar
.sidebar {
  .active {
    color: #fb923c;
  }
}

.adminInputSearch {
  input {
    @media screen and (min-width: 1280px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  button {
    @media screen and (min-width: 1280px) {
      height: 44px !important;
      width: 45px !important;
    }
  }
}

.adminLayout {
  .blockSideBar {
    // width: 20%;
    transition: all 0.3s ease;

    @media screen and (min-width: 640px) {
      width: 10%;
    }
    @media screen and (min-width: 1280px) {
      width: 25%;
    }

    .logoSideBar {
      width: 0;
      opacity: 0;
      // z-index: -1;

      @media screen and (min-width: 1280px) {
        width: auto;
        opacity: 1;
      }
    }

    ul {
      li {
        text-align: center;

        @media screen and (min-width: 1025px) {
          text-align: left;
        }
        i {
          font-size: 22px;
        }
      }
    }
  }

  .blockContent {
    padding-left: 20%;

    @media screen and (min-width: 640px) {
      padding-left: 10%;
    }

    @media screen and (min-width: 1280px) {
      padding-left: 25%;
    }
    .ant-table-content {
      overflow: scroll;

      @media screen and (min-width: 1024px) {
        overflow: inherit;
      }
    }
  }

  &.active {
    .blockSideBar {
      width: 70%;
      @media screen and (min-width: 640px) {
        width: 32%;
      }
      .logoSideBar {
        width: 50px;
        transition: all 0.3s ease;
        opacity: 1;
        z-index: 1;

        @media screen and (min-width: 640px) {
          width: 126px;
        }
      }
      ul {
        li {
          text-align: left;
        }
      }
    }
  }
  ul {
    li {
      a {
        display: inline-block;
      }
    }
  }

  table {
    min-width: 700px;
    width: 100%;
    tr {
      th {
        border: 1px solid #000;
        padding: 10px;

        &:nth-child(1) {
          min-width: 80px;

          @media screen and (min-width: 1025px) {
            min-width: 100px;
          }
        }

        &:nth-child(2) {
          min-width: 150px;

          @media screen and (min-width: 1025px) {
            min-width: 250px;
          }
        }

        &:last-child {
          min-width: 170px;
          @media screen and (min-width: 1025px) {
            min-width: 200px;
          }
        }
      }

      td {
        border: 1px solid #000;
        padding: 10px;

        .hinhAnh {
          max-width: 80px;
          @media screen and (min-width: 1025px) {
            max-width: 100px;
          }
        }
      }
    }
  }
  .paginate {
    a.active {
      background-color: #fb923c;
      color: #fff;
      transition: all 0.2s ease;
    }
  }
}

ul {
  li {
    list-style-type: none;
  }
}
